$mainColor: #716d72;
$secondColor: #2c2b2b;
$white: #fff;
$black: rgb(10, 10, 10);

$bgDark: rgba(44, 44, 48, 0.3);
$bgGrey: rgba(202, 202, 214, 0.39);
$bgGreen: rgba(6, 192, 37, 0.39);
$bgRed: rgba(165, 11, 11, 0.39);
$navbarHover: #3d3c3c;

$bold: 500;
$thin: 300;

$round: 8px;
$transition: 0.2s;
$lgTransition: 0.4s;