@import '../helpers/variables.scss';

.App {
    height: 100vh;
    width: 100vw;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: $mainColor;
}

.App-body {
    width: 100%;
    height: 90%;
}

.pull-right {
   float: right; 
}

.bold {
    font-weight: $bold;
}

.thin {
    font-weight: $thin;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

@media (max-width: 950px) {
    .App {
        height: 100%;
    }
}
  
  